   
    .nav-link {
        color: #ce6626;
    }

    .nav-link:hover {
        color: #a25b14;
    }

    #menu h1 {
        color: #ce6626
    }

    #startInfo {
        background-color: #ce66269e;
        border: 1px solid #75400b;
        color: #5c3208;
    }

.categoryItem {
    box-shadow: 8px 8px 0px black;
    background-color: #f3d6c4;
}


